body {
    background-color: tan;
}

#title-box {
    display: flex;
    position: relative;
    padding-top: 1%;
    justify-content: center;
    align-items: center;
}

#home-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; 
}

#home-button img {
    width: 20%;
    height: auto;
}

#title-text {
    color: wheat;
}